<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        .content-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: calc(100vh - 350px); /* Adjust based on header height */
            padding: px;
        }
        .cont {
            max-width: 600px;
            background: var(--gray--light);
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            text-align: center;
        }
        h2 {
            color: #333;
            text-align: center;
            padding-top: 80px;
            font-weight: bolder;
            margin-bottom: 20px;
        }
        p {
            color: #666;
            font-size: 1.1em;
            line-height: 1.6;
            text-align: left;
        }
        b {
            font-weight: bold;
            color: black;
        }
    </style>
</head>

<h2>WHO I AM</h2>
<div class="content-wrapper">
    <div class="cont">
        <p>Hi !!! I am <b>Srivalli</b>.<br>August 20th, 2005<br>Andhra Pradesh, India<br>I'm currently pursuing my Bachelor's degree in Information Technology at Maharaj Vijayaram Gajapathi Raj College of Engineering, Andhra Pradesh.I am highly motivated. I am passionate about problem-solving. I possess a good background in <b>Python</b>. I'm a passionate and creative <b>web developer</b>. I am also interested in playing <b>Volley ball</b>.</p>
    </div>
</div>